<div class="container">
  <div class="edit-title-group">
    <p class="edit-required">*必填欄位</p>
    <h3 class="edit-title">請修改你的支出</h3>
  </div>

  <form action="/" method="POST" class="edit-form">
    <div class="edit-form-group">
      <label for="name">名稱*：</label>
      <input type="text">
    </div>

    <div class="edit-form-group">
      <label for="name">日期*：</label>
      <input type="date">
    </div>

    <div class="edit-form-group">
      <label for="name">類別*：</label>
      <select name="category" id="category">
        <option value="defaul">Select</option>
        <option value="home">家居物業</option>
        <option value="traffic">交通出行</option>
        <option value="amusement">休閒娛樂</option>
        <option value="diet">餐飲食品</option>
        <option value="other">其他</option>
      </select>
    </div>
    <div class="edit-form-group">
      <label for="name">金額*：</label>
      <input type="number">
    </div>
    <a href=""><button class="edit-add-btn">送出</button></a>
  </form>


</div>